{{!-- <div class="cajaFooter font">

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>

            <a href="/"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <div>

            </div>

            <ul class="nav col-md-4 justify-content-end fondoTransparente">
                <li class="nav-item"><a href="./" class="nav-link px-2 text-muted">Inicio</a></li>
                <li class="nav-item"><a href="./TM6" class="nav-link px-2 text-muted">TM6</a></li>
                <li class="nav-item"><a href="./contacto" class="nav-link px-2 text-muted">Contacto</a></li>
                {{#if login}}
                <li class="nav-item"><a href="./miPerfil" class="nav-link px-2 text-muted"> Perfil </a></li>
                {{/if}}
            </ul>

            <div class="footer">

                <div><i class="bi bi-telephone-fill telefono"></i> 011 15-3447-9310</div>
                <p class="parrafoFooter">
                    Av. del Libertador 1030, B1638 Vicente L칩pez,  Provincia de Buenos Aires 
                    Lunes a Viernes: 08:00 a 21:00hs - S치bados: 10:00hs a 17:00hs
                </p>

            </div>
        </footer>
    </div> --}}





    <div class=" cajaFooter font fontFooter">

        <div class="headerFooter">
            <p class="">&copy; 2022 Company, Inc</p>
            <ul class=" menuFooter">
                <li class=""><a href="./" class="">Inicio</a></li>
                <li class=""><a href="./TM6" class="">TM6</a></li>
                <li class=""><a href="./contacto" class="">Contacto</a></li>
                {{#if login}}
                <li class=""><a href="./miPerfil" class=""> Perfil </a></li>
                {{/if}}
            </ul>
        </div>

        <div><i class="bi bi-telephone-fill telefono"></i> 011 15-3447-9310</div>

        <p class="parrafoFooter">
                    Av. del Libertador 1030, B1638 Vicente L칩pez,  <br> Provincia de Buenos Aires. <br>
                    Lunes a Viernes: 08:00 a 21:00hs - S치bados: 10:00hs a 17:00hs
        </p>


    </div>