<div class="font eliminar">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="./"> <img height="445" src="/img/familiaPortada.png" class="d-block w-100" alt="..."> </a>
                <div class="carousel-caption d-none d-md-block textoCarrousel">
                    <h1 class="tituloSobreImagen">Reinventamos la forma de cocinar</h1>
                    <h3 class="tituloSobreImagen">Un dispositivo con posibilidades infinitas.</h3>
                </div>
            </div>
            <div class="carousel-item">
                <a href="./TM6"><img height="445" src="/img/portada7.jpg" class="d-block w-100" alt="..."> </a>
                <div class="carousel-caption d-none d-md-block textoCarrousel">
                    <h1 class="tituloSobreImagen">Thermomix TM6</h1>
                    <h3 class="tituloSobreImagen"> Conoce lo nuevo que tenemos para ofrecerte.</h3>
                </div>
            </div>
            <div class="carousel-item">
                <a href="./contacto"><img height="445" src="/img/portada6.jpg" class="d-block w-100 " alt="..."> </a>
                <div class="carousel-caption d-none d-md-block textoCarrousel">
                    <h1 class="tituloSobreImagen">¿Tenes alguna consulta?</h1>
                    <h3 class="tituloSobreImagen"> Contactate con nosotros para poder asesorarte.</h3>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="portada">
        <div>
            <img height="300" src="/img/maquinaThermomix.png" alt="Thermomix" class="imagenThermomix">
        </div>
    </div>


    <section>
        <article class="separacion">
            <div class="cuadros">
                <div class="card mb-3" style="max-width: 540px;" data-aos="fade-up">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/img/TM_Tiempo.png" class="img-fluid rounded-start" alt="Tiempo">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Ahorrá tiempo</h5>
                                <p class=" textoCuadro card-text">Thermomix® elimina el esfuerzo de cocinar, desde la
                                    planificación de tus comidas semanales
                                    hasta la finalización
                                    de las mismas, regalándote más tiempo para disfrutarlo con tu familia y amigos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;" data-aos="fade-up">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/img/TM_Saludable.png" class="img-fluid rounded-start" alt="Saludable">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Saludable</h5>
                                <p class="card-text textoCuadro"> Con la variedad de recetas de Thermomix® evitarás el
                                    consumo
                                    de la comida nociva, y podrás
                                    cocinar sin conservantes
                                    ó aditivos y menos azúcar. Cocina acorde a tu estilo de vida de una manera
                                    sencilla.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="cuadros">
                <div class="card mb-3" style="max-width: 540px;" data-aos="fade-up">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/img/TM_Facil.png" class="img-fluid rounded-start" alt="Fácil">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Fácil</h5>
                                <p class="card-text textoCuadro">Con sus instrucciones en pantalla Thermomix® te lleva
                                    al final
                                    de la receta paso a paso y te
                                    brinda consejos y trucos
                                    para cocinar aún más facilmente. Y además, ¡Cada receta será un éxito!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;" data-aos="fade-up">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/img/TM_Utilidad.png" class="img-fluid rounded-start" alt="Utilidad diaria">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Utilidad diaria</h5>
                                <p class="card-text textoCuadro">TM6® es tu asistente de cocina de todos los días. Ya
                                    sea que
                                    estés preparando un batido para
                                    vos o preparando una
                                    cena elaborada para muchos, cada día es más fácil con Thermomix®.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="conoceMasTexto">
            <h2 class=" tituloArticulo" data-aos="fade-up"> Conocé a tu asistente de cocina </h2>
            <div class="imagenConTexto" data-aos="fade-up">
                <figure>
                    <img src="/img/imagenConTextoConoceMasRECORTADA.jpg" alt="Thermomix">
                </figure>
                <p class="texto">
                    Thermomix® TM6® es el dispositivo de cocina que lo hace todo sin importar que tan difícil sea el
                    reto.
                    Ya sea que quieras darle un sabor distinto a tus comidas, o simplemente quieras recuperar tiempo
                    con tu familia,
                    Thermomix® TM6® es un dispositivo inteligente autónomo que te quita las tareas de encima al
                    manejar las partes
                    tediosas o complejas de cocinar, ya que todo lo hace por ti. Desde la planificación de las
                    comidas hasta la compra
                    de ingredientes, pasando por cada proceso de preparación e incluso la limpieza. TM6® te respalda
                    para que puedas
                    crear la comida perfecta en todo momento.
                    Con la compra de tu Thermomix disfrutarás 6 meses de suscripción gratuita a la plataforma de
                    recetas Cookidoo®, con la cual tendrás acceso a más de 70.000 recetas de países de todo el
                    mundo. Podrás planificar tu menú de la semana, filtrar recetas por porciones, dificultad,
                    tiempo, idiomas y más.
                </p>
            </div>
            <div class=" botonConoceMas botonEfecto1" data-aos="fade-up">
                <ul id="cTM6">
                    <li>
                        <a href="/TM6">
                            CONOCÉ MÁS
                        </a>
                    </li>
                </ul>
            </div>
        </article>

        <article>

            <div class="tituloComentarios" data-aos="fade-up">
                <img height="70px" src="/img/iconoComentarios.png" alt="comentarios">
                <h1 class="tituloArticulo">Comentarios</h1>
            </div>

            <div class="comentarios" data-aos="fade-up">

                <div class="nuevoComentario">
                    <form action="/" method="post">
                        <textarea maxlength="400" class=" inputComentario" placeholder="{{mensajeComentario}}"
                            id="comentario" name="comentario" required></textarea>
                        {{#if login}}
                        <button id="comentar" type="submit" class="cta">
                            <span class="hover-underline-animation"> Comentar </span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                                <path transform="translate(30)"
                                    d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                    data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button>
                        {{/if}}
                    </form>
                </div>


                {{#each datos}}
                <div class="comentario">
                    <h5 class="nombreComentario">{{ nombre }} </h5>
                    <p class="textoComentario"> {{ comentario }}</p>
                </div>
                {{/each}}


            </div>

        </article>


</div>