<div class="font">

    <div class="fondoConoceMas">
        <div>
            <h1> Thermomix TM6</h1>
            <h3> Tu robot de cocina inteligente</h3>
        </div>
    </div>

    <h1 class="imgCentrada titulo1" data-aos="fade-up"> Una nueva generación culinaria</h1>

    <figure class="imgCentrada videoYT" data-aos="fade-up">
        <iframe width="660" height="415" src="https://www.youtube-nocookie.com/embed/1TqA6G3yRtQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </figure>

    {{!-- <hr class="m-5"> --}}

    <h1 class="imgCentrada titulo1" data-aos="fade-up"> Lográ más en la cocina</h1>

    <div class="partesThermomix">

        <div class="caracteristicas">
            <div data-aos="fade-up">
                <img height="60px" src="/img/fermentacion.png" alt="Fermentación">
                <div>
                    <h4>Fermentación</h4>
                    <h5>Hacé yogur lleno de <br> proteínas, kimchi rico en <br>probióticos y masa<br> fermentada
                        utilizando
                        el<br> modo
                        de fermentación.</h5>
                </div>
            </div>
            <div data-aos="fade-up">
                <img height="60px" src="/img/coccionVariada.png" alt="Cocción Variada">
                <div>
                    <h4>Cocción de varios niveles</h4>
                    <h5>Prepará varios platos al<br> mismo tiempo.</h5>
                </div>
            </div>
            <div data-aos="fade-up">
                <img height="60px" src="/img/emulsionar.png" alt="Emulsionar">
                <div>
                    <h4>Emulsionar</h4>
                    <h5>Convertí ingredientes <br>simples y limpios en<br> aderezos cremosos para <br>ensaladas caseras.
                    </h5>
                </div>
            </div>
            <div data-aos="fade-up">
                <img height="60px" src="/img/coccionLenta.png" alt="Cocción Lenta">
                <div>
                    <h4>Cocción Lenta</h4>
                    <h5>Configurá y olvidáte con <br>el modo de cocción<br> lenta, ablandando carnes<br> e
                        intensificando
                        los<br> sabores en tus platos.</h5>
                </div>
            </div>
            <div data-aos="fade-up">
                <img height="60px" src="/img/facilLimpieza.png" alt="Fácil limpieza">
                <div>
                    <h4>Fácil Limpieza</h4>
                    <h5>La limpieza es muy <br>sencilla con piezas aptas<br> para lavavajillas y la<br> eliminación de
                        residuos<br> en el modo de pre<br> lavado.</h5>
                </div>
            </div>
            <div data-aos="fade-up">
                <img height="60px" src="/img/inteligente.png" alt="Inteligente de corazón">
                <div>
                    <h4>Inteligente de corazón</h4>
                    <h5>La Thermomix® TM6®<br> se conecta y actualiza<br> automáticamente su <br>software a través
                        de<br>
                        Wifi. </h5>
                </div>
            </div>
            <div data-aos="fade-up">
                <img height="60px" src="/img/innovador.png" alt="Innovador e intuitivo">
                <div>
                    <h4>Innovador e intuitivo</h4>
                    <h5>Una interfaz de usuario<br> intuitiva te permite <br>acceder a la inspiración<br> de recetas sin
                        fin
                        con el<br> acceso perfecto a <br>Cookidoo® y una<br> pantalla táctil a todo<br> color de 6.8
                        pulgadas.</h5>
                </div>
            </div>
        </div>

        <div data-aos="fade-up">
            <img class="imagenCentral" height="1400px" src="https://www.thermomix.mx/wp-content/uploads/2021/05/TM6_explotdd-large_MX.png"
                alt="Componentes Thermomix">
        </div>

        <div class="caracteristicas">
            <div data-aos="fade-up">
                <img height="60px" src="/img/vapor.png" alt="Vapor y aroma">
                <div>
                    <h4>Vapor y aroma</h4>
                    <h5>La forma más sabrosa y <br>eficaz de cocinar al<br> vapor verduras y<br> proteínas saludables
                    </h5>
                </div>
            </div>
            <div data-aos="fade-up">
                <img height="60px" src="/img/sous.png" alt="Sous Vide">
                <div>
                    <h4>Sous Vide</h4>
                    <h5>Agregá a tu repertorio <br>culinario con el modo<br> Sous Vide. La técnica<br> popularizada por
                        chefs<br> profesionales permite <br>cocinar a la perfección <br>verduras, huevos y <br>pescado.
                    </h5>
                </div>
            </div>
            <div data-aos="fade-up">
                <img height="60px" src="/img/batir.png" alt="Batir">
                <div>
                    <h4>Batir</h4>
                    <h5>Batí los huevos, la crema <br>y más con el batidor de <br>mariposa.</h5>
                </div>
            </div>
            <div data-aos="fade-up">
                <img height="60px" src="/img/saltear.png" alt="Saltear, dorar y caramelizar">
                <div>
                    <h4>Saltear, dorar y caramelizar</h4>
                    <h5>Cocine con precisión <br>gracias a los sensores <br>integrados y al modo de <br>calor alto que
                        mantienen<br> una temperatura <br>constante y precisa.</h5>
                </div>
            </div>
            <div data-aos="fade-up">
                <img height="60px" src="/img/pesa.png" alt="Pesar">
                <div>
                    <h4>Pesar</h4>
                    <h5>Ya no tendrá que buscar<br> los ingrediente<br>s correctos para el peso de <br>la taza medidora
                        en
                        el<br> tazón de mezcla<br> utilizando la báscula<br> digital integrada.</h5>
                </div>
            </div>
            <div data-aos="fade-up">
                <img height="60px" src="/img/revolver.png" alt="Revolver, mezclar, picar, moler y amasar">
                <div>
                    <h4>Inteligente de corazón</h4>
                    <h5>Las cuchillas de última<br> generación gira hacia <br>adelante con un borde <br>afilado para
                        mezclar,<br> picar y moler, y un borde <br>romo hacia atrás para <br>revolver y amasar.</h5>
                </div>
            </div>
        </div>
    </div>

</div>