.footer{
    color:rgb(110, 110, 110);
}
.parrafoFooter{
    margin-right: 600px;
}

.iconFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cajaFooter{
    margin-left: 100px;
    margin-right: 100px;

}

.fondoTransparente{
    background: transparent;
}

